.alerta-flotante {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 9999;
    pointer-events: none;
}