.alerta-flotante {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 9999;
	pointer-events: none;
}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item>.sidebar-link.active{
	background-color: #DFB469;
	color: #fff;
}

.btn-warning{
	background-color: #DFB469;
}

.bg-light-info{
	background-color: #F5D5AA !important;
}

.sidebar-link:hover{
	background-color: #F5D5AA !important;
	color: #000 !important;
}

.buttons-excel{
	background-color: #0CAA7F !important;
	border-color: #0CAA7F !important;
}

.buttons-excel:hover{
	background-color: #038334 !important;
	border-color: #038334 !important;
}

.buttons-pdf{
	background-color: #C41500 !important;
	border-color: #C41500 !important;
}

.buttons-pdf:hover{
	background-color: #910000 !important;
	border-color: #910000 !important;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 6px 12px;
	border: 0;
}

.active .page-link{
	background-color: #DFB469 !important;
	border-color: #DFB469 !important;
}

.active .page-link:hover{
	background-color: #CA9B4A !important;
	border-color: #CA9B4A !important;
}

.page-link:hover{
	background-color: #DDD7CD !important;
	border-color: #DDD7CD !important;
}

.btn-light-success{
	background-color: #E6FFFA !important;
	border-color: #E6FFFA !important;
}

.btn-light-success:hover{
	background-color: #67CCDE !important;
	border-color: #67CCDE !important;
}

.text-success:hover{
	--bs-text-opacity: 1;
	color: #fff !important;
}

.dropzone {
	border: 2px dashed #F5D5AA !important;
	padding: 20px !important;
}

.dropzone .dz-message {
	text-align: center;
	font-size: 1.5em;
	color: #423F3B;
}

.subtitulo-sup{
	font-size: 14px;
}

.book{
	overflow-y: scroll;
	height: 50em;
	margin: 10px !important;
}

.shadow-card{
	box-shadow: -6px 4px 38px -12px rgba(0,0,0,0.9);
	-webkit-box-shadow: -6px 4px 38px -12px rgba(0,0,0,0.9);
	-moz-box-shadow: -6px 4px 38px -12px rgba(0,0,0,0.9);
}

.title-book{
	font-size: 3em;
	text-align: center;
	line-height: 100%;
	font-family: Arial;
	color: #3B3B3B;
	font-weight: bolder;
	margin-bottom: 0.5em;
}

.chapter-book{
	font-size: 2em;
	text-align: center;
	line-height: 100%;
	font-family: Arial;
	color: #3B3B3B;
	font-weight: bolder;
	margin-bottom: 0.5em;
}

.section-book{
	font-size: 1.5em;
	text-align: center;
	line-height: 100%;
	font-family: Arial;
	color: #3B3B3B;
	font-weight: bolder;
	margin-bottom: 0.5em;
}

.article-book{
	font-size: 1em;
	text-align: center;
	line-height: 100%;
	font-family: Arial;
	color: #3B3B3B;
	font-weight: bolder;
	margin-bottom: 0.5em;
}

.paragraph-book{
	font-size: 1em !important;
	line-height: 100% !important;
	font-family: Arial !important;
	color: #3b3b3b !important;
	margin-bottom: 0.5em !important;
	text-align: justify !important;
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}